In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_raw = pd.read_csv("../data/sp500_metadata.csv")

In [3]:
df_raw.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Short Name,Sector,Industry
0,2024-12-02 00:00:00-05:00,132.874559,133.113387,131.730210,132.237701,3001900,0.0,0.0,MMM,3M Company,Industrials,Conglomerates
1,2024-12-03 00:00:00-05:00,132.237705,132.576033,130.098265,130.506241,2378400,0.0,0.0,MMM,3M Company,Industrials,Conglomerates
2,2024-12-04 00:00:00-05:00,130.287317,130.745066,128.336946,129.809677,2503400,0.0,0.0,MMM,3M Company,Industrials,Conglomerates
3,2024-12-05 00:00:00-05:00,130.177863,134.914493,129.809669,132.675537,4171800,0.0,0.0,MMM,3M Company,Industrials,Conglomerates
4,2024-12-06 00:00:00-05:00,132.595931,133.561171,131.551082,132.456619,1912300,0.0,0.0,MMM,3M Company,Industrials,Conglomerates

In [4]:
df = df_raw.drop(columns=['Open', 'High', 'Low', 'Dividends', 'Stock Splits'])

In [5]:
df = df.rename(columns={'Close': 'close_price', 'Short Name': 'company_name' })

In [6]:
df.columns = map(str.lower , df.columns)

In [12]:
df

,date,close_price,volume,ticker,company_name,sector,industry
0,2024-12-02 00:00:00-05:00,132.237701,3001900,MMM,3M Company,Industrials,Conglomerates
1,2024-12-03 00:00:00-05:00,130.506241,2378400,MMM,3M Company,Industrials,Conglomerates
2,2024-12-04 00:00:00-05:00,129.809677,2503400,MMM,3M Company,Industrials,Conglomerates
3,2024-12-05 00:00:00-05:00,132.675537,4171800,MMM,3M Company,Industrials,Conglomerates
4,2024-12-06 00:00:00-05:00,132.456619,1912300,MMM,3M Company,Industrials,Conglomerates
...,...,...,...,...,...,...,...
30175,2025-02-24 00:00:00-05:00,165.309998,3698000,ZTS,Zoetis Inc.,Healthcare,Drug Manufacturers - Specialty & Generic
30176,2025-02-25 00:00:00-05:00,168.529999,4003300,ZTS,Zoetis Inc.,Healthcare,Drug Manufacturers - Specialty & Generic
30177,2025-02-26 00:00:00-05:00,164.990005,2609700,ZTS,Zoetis Inc.,Healthcare,Drug Manufacturers - Specialty & Generic
30178,2025-02-27 00:00:00-05:00,164.979996,2253500,ZTS,Zoetis Inc.,Healthcare,Drug Manufacturers - Specialty & Generic
30179,2025-02-28 00:00:00-05:00,167.240005,3333300,ZTS,Zoetis Inc.,Healthcare,Drug Manufacturers - Specialty & Generic

In [8]:
df.head()

,date,close_price,volume,ticker,company_name,sector,industry
0,2024-12-02 00:00:00-05:00,132.237701,3001900,MMM,3M Company,Industrials,Conglomerates
1,2024-12-03 00:00:00-05:00,130.506241,2378400,MMM,3M Company,Industrials,Conglomerates
2,2024-12-04 00:00:00-05:00,129.809677,2503400,MMM,3M Company,Industrials,Conglomerates
3,2024-12-05 00:00:00-05:00,132.675537,4171800,MMM,3M Company,Industrials,Conglomerates
4,2024-12-06 00:00:00-05:00,132.456619,1912300,MMM,3M Company,Industrials,Conglomerates

In [9]:
df.shape

(30180, 7)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30180 entries, 0 to 30179
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          30180 non-null  object
 1   close_price   30180 non-null  float64
 2   volume        30180 non-null  int64
 3   ticker        30180 non-null  object
 4   company_name  30180 non-null  object
 5   sector        30180 non-null  object
 6   industry      30180 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 1.6+ MB

In [11]:
df.describe()

        close_price        volume
count  30180.000000  3.018000e+04
mean     222.322408  5.792417e+06
std      482.306720  1.663110e+07
min        8.470000  8.800000e+03
25%       68.929670  1.093700e+06
50%      123.359406  2.251000e+06
75%      232.642170  4.967525e+06
max     9184.919922  8.188309e+08

In [18]:
df.isnull().sum()

date            0
close_price     0
volume          0
ticker          0
company_name    0
sector          0
industry        0
dtype: int64